.search {

  margin: 0 auto;
  
}

.searchInputs {
    justify-content: center;
    margin-top: 105px;
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;

    border-radius: 10px 0px 0px 10px;
  }
  
  .searchIcon {
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 0px 10px 10px 0px;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  
  .dataItem p {
    margin-left: 100px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }